<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

<head>
    <meta charset="UTF-8">
    <title>Collaborative Whiteboard</title>
</head>
<body>
<div id="wrapper">
<canvas id="whiteboard-canvas"/>
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
<script src="/static/js/index.js"></script>
</html>